---
import employees from "@data/employees.json";
import DynamicImage from "@components/helpers/DynamicImage.astro";
import DynamicIcon from "@components/helpers/DynamicIcon.astro";
---

<section class="container">
  <div class="textWrap">
    <div>
      <p>our team</p>
      <h2>We champion the bold to achieve the extraordinary</h2>
      <p>Our success stems from the synergy between dedicated teams and our valued clients. We prioritize a company culture that fosters exceptional productivity, ensures customer satisfaction, and promotes mutual respect among all team members.</p>
    </div>
  </div>
  <div>
    {
      employees.slice(0, 3).map((employee) => (
        <article>
          <DynamicImage imagePath={employee.img} altText={employee.name} width={400} height={400} />

          <h2>{employee.name}</h2>
          <p>{employee.description}</p>
          <ul>
            {employee.social_links.map((icons) => (
              <li>
                <DynamicIcon name={icons.icon} />
              </li>
            ))}
          </ul>
        </article>
      ))
    }
  </div>
</section>

<style>
  section {
    margin: var(--space-xl) 0;

    display: flex;
    flex-direction: column;
    gap: var(--space-l);
  }
  .textWrap {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > div {
      display: flex;
      flex-direction: column;
      gap: var(--space-s);

      > h2 {
        font-size: var(--step--1);
        font-weight: 600;
      }

      > p:first-child {
        text-transform: uppercase;
      }
      > p:last-child {
        font-size: var(--step--5);
      }
    }
  }

  div:last-child {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-m);

    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-s);
      max-width: 400px;

      p {
        text-align: center;
      }

      img {
        border-radius: 25px;
      }

      h2 {
        font-size: var(--step--2);
        font-weight: 600;
      }

      ul {
        padding: 0;
        list-style: none;
        display: flex;
        gap: var(--space-m);
      }
    }
  }
</style>
