---
import HeroBgWrapper from "@components/helpers/HeroBgWrapper.astro";
import employees from "@data/employees.json";
import DynamicImage from "@components/helpers/DynamicImage.astro";
import DynamicIcon from "@components/helpers/DynamicIcon.astro";
import Layout from "@layouts/Layout.astro";
import HeroInsides from "@components/HeroInsides.astro";
---

<Layout title="Team">
  <HeroBgWrapper imagePath="teamheader.jpg" class="full-bleed">
    <HeroInsides p="Team" h1="The Consultors" />
  </HeroBgWrapper>
  <section class="container">
    <div>
      <div>
        <h1>Meet Our Great Team</h1>
        <p>Welcome to our amazing team! We are a group of passionate individuals dedicated to excellence and innovation. Each member brings unique skills and experiences, working together to achieve our goals. Join us as we embark on exciting projects and create lasting impacts.</p>
      </div>
      <a href="#">Join our team</a>
    </div>
    <div>
      {
        employees.map((employee) => (
          <a href={`/employees/${employee.slug}`}>
            <article>
              <DynamicImage imagePath={employee.img} altText={employee.name} width={400} height={400} />

              <h2>{employee.name}</h2>
              <p>{employee.description}</p>
              <ul>
                {employee.social_links.map((icons) => (
                  <li>
                    <DynamicIcon name={icons.icon} />
                  </li>
                ))}
              </ul>
            </article>
          </a>
        ))
      }
    </div>
  </section>
</Layout>

<style>
  section > div:first-child {
    display: flex;
    justify-content: space-between;
    margin: var(--space-l) 0;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: var(--space-m);

    h1 {
      font-size: var(--step--1);
    }

    p {
      font-size: var(--step--5);
      max-width: 500px;
    }

    a {
      border-radius: 2.625rem;
      background: #181818;
      padding: 0.9375rem 1.875rem;
      color: white;
      text-decoration: none;
    }

    div:has(h1):has(p) {
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);
    }
  }

  div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-m);

    a {
      text-decoration: none;
      color: black;

      article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-s);
        max-width: 400px;

        p {
          text-align: center;
        }

        img {
          border-radius: 25px;
        }

        h2 {
          font-size: var(--step--2);
          font-weight: 600;
        }

        ul {
          padding: 0;
          list-style: none;
          display: flex;
          gap: var(--space-m);
        }
      }
    }
  }
</style>
