---
import financialProjections from "@data/financialProjections.json";
import DynamicIcon from "@components/helpers/DynamicIcon.astro";
---

<section>
  <div class="financial">
    <div>
      <h2>{financialProjections.title}</h2>
      <p>{financialProjections.subtitle}</p>
    </div>
    <div class="icon">
      <div class="black">
        <DynamicIcon name="arrow-left" />
      </div>
      <div class="yellow">
        <DynamicIcon name="arrow--right" />
      </div>
    </div>
  </div>

  <ul class="full-width">
    {
      financialProjections.values.map((card) => (
        <li>
          <DynamicIcon name={card.icon} />
          <h3>{card.title}</h3>

          <p>{card.description}</p>
          {/* <div>{card.icon}</div> */}
        </li>
      ))
    }
  </ul>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: var(--step-2);
  }
  .financial {
    display: flex;
    justify-content: space-between;

    > div:first-child {
      max-width: 600px;

      h2 {
        font-size: var(--step--1);
        font-weight: 600;
      }
      p {
        margin-top: var(--space-s);
        font-size: var(--step--5);
      }
    }

    .icon {
      display: flex;
      gap: var(--space-m);
      align-items: center;
    }
  }

  ul {
    gap: var(--space-l);
    padding-block: 0;
    list-style: none;
    display: flex;

    align-items: flex-start;
    /* gap: */
    overflow-x: auto; /* Scroll på x-aksen */

    --scroll-padding: max(1rem, 50% - var(1200px) / 2);
    scroll-padding-inline: var(--scroll-padding);
    padding-inline: var(--scroll-padding);
    scroll-snap-type: x mandatory; /* Aktiver snap på x-aksen */
    scroll-behavior: smooth;
  }
  li {
    background-color: var(--bg-grey);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 1.25rem;
    padding: 2.8125rem 2.0625rem;
    gap: var(--space-2xs);

    flex: 0 0 400px;
    scroll-snap-align: start; /* Snap ved start af elementet */
    scroll-snap-stop: always;

    h3 {
      font-size: var(--step--3);
      font-weight: 500;
    }
    p {
      font-size: var(--step--5);
    }
  }

  .full-width li:nth-child(2) {
    /* dine styles her */
    background: black;
    color: white;

    .icon {
      color: var(--yellow);
    }
  }

  .black,
  .yellow {
    background-color: black;
    color: white;
    padding: 1rem;

    display: inline-flex;
    border-radius: 100%;
  }
  .yellow {
    background-color: var(--yellow);
    color: black;
  }
</style>
